<!DOCTYPE html>
<html>
<head>
  <title>Muzik</title>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <div class="nav-content">
      <div>
        <% if controller.controller_name == "rooms" && controller.action_name == "show" %>
          <%= link_to 'Back to All Rooms', rooms_path, class: 'back-link' %>
        <% end %>
      </div>
      <div class="logo-container">
        <p>MuzikChat</p>
      </div>
      <div class="new-user-container">
        <input type="text" class="js-user-name" placeholder="What is your name?">
        <button type="button" class="js-create-user">Create User</button>
      </div>
    </div>
  </nav>

  <%= yield %>

</body>
</html>
